# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Model Folder
paligemma-3b-pt-224/

# IDE
.idea/
.vscode/

# Large files
*.pth
*.ckpt
*.h5
